.search-result {
    margin: 10px;
    float: left;
    width: 100%;
    background-color: #eee;
    padding: 10px;
}

.search-result:hover {
    cursor: pointer;
    background-color: grey;
}

.address {
    width: 50%;
    float: left;
}

.legal1 {
    width: 50%;
    float: left;
}

.multiple {
    background-color: grey;
}

.search-form div {
    float: left;
}

.search-form__submit {
    margin-top: 30px;
}

.simple-search-result {
    display: none;
}