.simple-result {
    margin: 10px;
    float: left;
    width: 50%;
}

.address {
    width: 50%;
    float: left;
}

.legal1 {
    width: 50%;
    float: left;
}

.multiple {
    background-color: grey;
}