.search-result {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &__map-wrap {
        width: 48%;
        max-width: 900px;
    }
    &__map {
        width: 100%;
        height: 433px;
        background-color: #ccc;
    }
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__title-wrap {
        width: 48%;
    }
    &__desc {
        width: 48%;
        h3 {
            margin-top: 25px;
            margin-bottom: 8px;
            color: #868686;
            font-size: 25px;
            font-weight: 500;
        }
        p {
            font-size: 16px;
            line-height: 1.7;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
    }
    &__list {
        width: 48%;
        max-width: 900px;
    }
    &__total {
        margin-bottom: 20px;
        padding: 8px 26px;
        height: 32px;
        background: #D5D8D8;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        padding: 8px 52px 8px 8px;
        width: 100%;
        background-color: #E8E8E8;
        cursor: pointer;
        &:hover {
            background-color: #C4C4C4;
        }
    }
    &__avatar {
        width: 84px;
        height: 84px;
        flex-shrink: 0;
        background: #353A40;
        border-radius: 5px;
        margin-right: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='38' viewBox='0 0 50 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.0922 2.49625C49.0922 1.55965 48.3517 0.801025 47.4382 0.801025H2.75623C1.84282 0.801025 1.10229 1.55965 1.10229 2.49625V35.413C1.10229 36.3496 1.84282 37.1082 2.75623 37.1082H47.438C48.3514 37.1082 49.0919 36.3496 49.0919 35.413V2.49625H49.0922Z' stroke='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5458 18.1107C15.9491 18.1107 17.8976 16.1164 17.8976 13.6567C17.8976 11.197 15.9491 9.20276 13.5458 9.20276C11.1422 9.20276 9.19391 11.197 9.19391 13.6567C9.19391 16.1164 11.1422 18.1107 13.5458 18.1107Z' stroke='white'/%3E%3Cpath d='M11.5078 37.1068L25.923 16.3221L31.8834 24.5546L39.5489 12.2153L49.0921 26.4219' stroke='white'/%3E%3C/svg%3E%0A");
    }
    &__item-body {
        flex-grow: 1;
    }
    &__actions {
        position: absolute;
        display: flex;
        align-items: center;
        top: 6px;
        right: 6px;
    }
    &__action {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        &:last-child {
            margin-right: 0;
        }
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        &.--check {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACASURBVHgBzZLBCYAwDEWjO6hX53ACdTVnkgouItYRvNdfQQiaktZTP7xL6H+kpUQ5ZQQWOIUNdJIgpuxZQCUJYsoraMD8R8DLThOcwto1MGwWFPhyyw4boaxu8JSmQFkVSHdOFkhv8REUL0FK7m7JBgfFx0rDAeyk/wd/pqdscgEuWGqpdjUC0AAAAABJRU5ErkJggg==');
        }
        &.--save {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB6SURBVHgBzZNhCoAgDIUfXSLynkF1vOwK/egi9XNNsrDYUsjAB4/J+HwwZUAm9eyVTRG3WoC73HgoFAU9VxcthB5VC6jZM3tIDZAYI3Fnw0KffxR4vRHRxVf4qF8CJshvYN+CSDlHmWwjbDj+N0XG8zel7gJ5rkMx2gF8hD6mPKVmeAAAAABJRU5ErkJggg==');
        }
    }

    &__sorting {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        &-btn {
            display: block;
            cursor: pointer;
            width: 48%;
            max-width: 435px;
            height: 28px;
            background-color: #C4C4C4 !important;
            border: none !important;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.36567 0.398204L0.245065 10.4065C-0.0816885 10.7349 -0.0816885 11.2675 0.245066 11.596C0.571794 11.9244 1.10195 11.9244 1.4287 11.596L10 2.19113L18.5713 11.5951C18.898 11.9236 19.4282 11.9236 19.7549 11.5951C20.0817 11.2667 20.0817 10.7341 19.7549 10.4057L10.6343 0.397371C10.4601 0.222328 10.2292 0.147281 10.0008 0.158972C9.77161 0.148089 9.54071 0.223111 9.36567 0.398204Z' fill='black'/%3E%3C/svg%3E%0A");
            &.--down {
                transform: rotateX(180deg);
            }
        }
    }
}


.search-form-email {
    margin-bottom: 20px;
}


.search-form {
    label {
        font-size: 14px;
        line-height: 16px;
        color: #A5A5A5;
    }
    &__wrap {
        display: flex;
    }
    &__form-group {
        width: 30%;
        padding-right: 25px;
    }
    &__submit {
        padding-top: 28px;
        padding-right: 0px;
        width: 10%;
    }
    &__input {
        background: #FFFFFF !important;
        border: 1px solid #A5A5A5 !important;
        border-radius: 0 !important;
        height: 42px !important;
        flex-grow: 1;
        font-size: 14px;
        &::placeholder {
            color: #A5A5A5;
        }
    }
    &__btn {
        flex-shrink: 0;
        border-radius: 0 !important;
        width: 100% !important;
        height: 42px !important;
        border-color: #353A40 !important;
        background-color: #353A40 !important;
        font-size: 14px;
        color: #D7D7D7 !important;
        &:hover {
            background-color: #D7D7D7 !important;
            color: #353A40 !important;
        }
        &_email {
            width: 68px !important;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACvSURBVHgB3dAxDgFBFMbx2Y0rbCFxAaJRKIhCrXMSV9BzB2fQ6ek1Oo1KIfRMYfxf8iYZMjaz0ch+yS+bvJ33zWaN+Ys45zq4ufRc0ZbdXDuG6GOXcN9Wz47CL5Bs0MIM98itFnM0sZbBZ4Hkgim62AfzA3qY4OyHsQKfFQosVKGzt5QVSE4YY4Bj7IDsZr7gyw976jOPvcxIw5QnN78eSC2wpnoeYcGyYonVnTrkBXrjFVM71z8nAAAAAElFTkSuQmCC') !important;
        }
    }
}

.address {
    width: 50%;
    float: left;
}

.legal1 {
    width: 50%;
    float: left;
}

.multiple {
    background-color: grey;
}



.simple-search-result {
    display: none;
}
